.gsc-input {
    width: 170px !important; 
    height: 20px !important;  
    font-size: 12px !important; 
    border: 1px !important;
}

.gsc-search-button {
    height: 20px !important;
}

gsc-input-box {
    border: 0px !important;
}
