l<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/Parashot/assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/Parashot/assets//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Parashot/assets//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Parashot/assets//favicon-16x16.png">
    <link rel="manifest" href="/Parashot/assets//site.webmanifest">
    <link rel="stylesheet" href="/Parashot/assets/css/custom.css">
    <meta name="google-site-verification" content="P2fChlUk8978ugv3-hcITlCr_R8T1WltycEABFvWiP4" />

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <img src="/Parashot/assets/images/Parashot.png" />

        <p><small>{{ site.description | default: site.github.project_tagline }}</small></p>
        
        <a href="/Parashot/about.html">About Parashot</a><br>
	<a href="/Parashot/parashot.html">Weekly Parashot</a><br>
              
<script async src="https://cse.google.com/cse.js?cx=57839d57b3d72441b">
</script>
<div class="gcse-search"></div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
<p><small>Hosted on GitHub Pages &mdash; Theme 'Minimal' by <a href="http://github.com/orderedlist/minimal">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
